body {
    background: #efeeee;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;

    &>[class^="col-"],
    &>[class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Custom CSS */

/* Borders */
.border-ellightblue {
    border-color: $ellightblue !important;
}

.border-eldarkblue {
    border-color: $eldarkblue !important;
}

.border-ellightgrey {
    border-color: $ellightgrey !important;
}

.border-el5 {
    border-bottom: 5px solid $ellightblue !important;
}


/* Form Fields */
.order-section {
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    outline: none 0;
    height: 45px;
    width: 95%;
    font-size: 20px;
    padding-left: 15px;
    color: #666666 !important;
}

button,
input,
optgroup,
select,
textarea {
  color: #d9d9d6 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d9d9d6!important;
  opacity: 1; /* Firefox */
}

/* Sticky Pricing Calculator */
.nav-z {
    z-index: 9999;
}

/* Background */
.bg-elblock {
    background-color: $elgold !important;
    border-color: $ellightgrey !important;
    border-top-width: 3px!important;
    border-width: 0;
    border-style: solid;
}

.bg-ellightgrey {
    background-color: $ellightgrey !important;
}

.bg-eldarkgrey {
    background-color: $eldarkgrey !important;
}

.bg-primary {
    background-color:$elprimary !important;
}

.bg-eldarkblue {
    background-color: $eldarkblue !important;
}

.bg-ellightblue {
    background-color: $ellightblue !important;
}

.bg-elgold {
    background-color: $elgold !important;
}

.bg-elorange {
    background-color: $elorange !important;
}

.bg-black {
    background-color: #000000 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.btn-outline-ellightgrey {
    border: 1px solid $ellightgrey;
}


/* Submit Button */
.btn-el {
    background: $eldarkblue;
    color: white !important;
    border-radius: 0px!important;

    i {
        display: none;
    }

    &.loading {
        i {
            display: inline-block;
        }
    }

    &.active {
        background-color: #FFF !important;
        border: 1px solid $eldarkblue;
        color: $eldarkblue !important;

        &:before{
            font-family: 'Font Awesome 5 Free' !important;
            font-style: normal !important;
            font-weight: 900 !important;
            opacity: 1 !important;
            padding: 0 5px 0 0;
            position: relative;
            content: '\f00c';
            color: #007dba;
        }
    }

}

/* Icons */
.icon-sm {
    height: 20px;
}

/* Header */
header {
    z-index: 9999 !important;
}

main {
    margin-top: 90px;

    @media screen and (max-width: $md-max) {
        margin-top: 60px;
    }
}


.title-card {
    .editNow {
        position: relative;
        top: 50%;
        right: 2%;
        transform: translateY(-50%);
    }

    .title-card-off{

        .check{
            &::before {
                font-family: 'Font Awesome 5 Free' !important;
                font-style: normal !important;
                font-weight: 900 !important;
                opacity: 1 !important;
                padding: 0 10px 0 0;
                position: relative;
                content: '\f00c';
                color:$eldarkblue;
                 @media screen and (max-width: $sxs-max) {
                    display:none;
                }
            }
        }   
    }

}


.sticky-offset {
    top: 95px; //same size of the header

    @media screen and (max-width: $md-max) {
        top: 60px;
    }
}

input, select{
    &.validation-error{
        border:1px solid red!important;
    }
}

.validation-error{
    &.modal-content{
        color:red!important;
    }
}

#cartPrice {
    .cartDetails_bnt {
        a {
            &::before {
                font-family: 'Font Awesome 5 Free' !important;
                font-style: normal !important;
                font-weight: 900 !important;
                opacity: 1 !important;
                display: contents !important;
                padding: 10px 10px 0px 20px;
                position: relative;
            }

            &[aria-expanded="true"] {
                &::before {
                    content: "\f106" !important;
                }
            }

            &[aria-expanded="false"] {
                &::before {
                    content: "\f107" !important;
                }
            }
        }
    }

    @media screen and (max-width: $md-max) {

        .price-taxes {
            margin-top: -50px;
            line-height: 0px;
            text-align: right;

            h2 {
                font-size: 20px !important;
            }
        }

        h4 {
            font-size: 18px !important;
        }
    }

    .cart-title {
        max-width: 70%!important;
    }
}

/* T&C BOX */
.terms-box {
    max-height: 80px !important;
}

/* BG GRAPHIC */
.elbg {
    background: url('/images/earthlink-bg.png');
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
    background-size: 500px!important;
}

/* PROMO BANNER */
* {
  box-sizing: border-box;
}

.flag {
  width: 120px;
  height: 90px;
  margin: 0 auto;
  margin-top: -10px;
  padding-top: 20px;
  position: relative; 
  background: $elgold;
  color: white;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .flag {
      width: 300px;
      height: 50px;
      padding-top: 10px;
      font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .flag {
      width: 260px;
      height: 50px;
      padding-top: 10px;
      font-size: 18px;
    }
}

.flag:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid $ellightblue;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

@media screen and (max-width: 600px) {
    .flag:after {
      border-left: 150px solid transparent;
      border-right: 150px solid transparent;
    }
}

@media screen and (max-width: 320px) {
    .flag:after {
      border-left: 130px solid transparent;
      border-right: 130px solid transparent;
    }
}

.gcard {
    max-height: 80px!important;
    padding-top: 15px!important;
}

@media screen and (max-width: $md-max) {
    .gcard {
        margin-top: 0px!important;
    }
}

@media screen and (max-width: 600px) {
    .gcard {
        max-height:60px!important;
        padding-top: 0px!important;
    }
}

@media screen and (max-width: 320px) {
    .gcard {
        max-height: 50px!important;
        padding-top: 0px!important;
    }
}

