 @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');

 body {
     font-family: 'Montserrat', sans-serif; color: #666666!important;
 }
 
 h1 { font-size: 56px; margin: 0px!important; }
  @media screen and (max-width: 576px) {
	h1 {
		font-size: 36px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h2 { font-size: 44px; margin: 0px!important; }
  @media screen and (max-width: 576px) {
	h2 {
		font-size: 32px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h3 { font-size: 36px; margin: 0px!important; }
 @media screen and (max-width: 576px) {
	h3 {
		font-size: 26px !important;
		margin: 0px !important;
	}
 }

 h4 { font-size: 30px; margin: 0px!important; }
 @media screen and (max-width: 576px) {
	h4 {
		font-size: 26px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h5 { font-size: 22px; margin: 0px!important; }

  @media screen and (max-width: $sm-min) {
	h5 {
		font-size: 18px !important;
		margin: 0px !important;
	}
 }

 .text-gc { 
 	font-size: 30px; line-height: 1; 
 }

 @media screen and (max-width: 1200px) {
	.text-gc {
		font-size: 26px;
	}
 }

  @media screen and (max-width: 600px) {
	.text-gc {
		font-size: 16px;
	}
 }

 @media screen and (max-width: 320px) {
	.text-gc {
		font-size: 14px;
	}
 }

 .text-gcCart { font-size: 18px; line-height: 1!important; }

 @media screen and (max-width: 980px) {
	.text-gcCart {
		font-size: 18px;
	}
 }

 @media screen and (max-width: 320px) {
	.text-gcCart {
		font-size: 15px;
	}
 }

 .text-disc { font-size: 16px; line-height: 1!important; }
 .text-li { font-size: 16px!important;}
 .text-small { font-size: 14px!important;}
 .text-footer { font-size: 12px; line-height: 1.5!important; }
 .text-xsmall { font-size: 12px!important;}
 .text-options { line-height: 1.2!important; }
 .text-cents { font-size: 25px!important;}


 /* Text */
// Contextual colors

.text-huge { font-family: 'Montserrat', sans-serif!important; font-size: 40px; margin: 0px!important; line-height: 1!important; }

@media screen and (max-width: $md-min) {
    .text-huge {
        font-size: 40px !important;
        margin: 0px !important;
    }
 }

@media screen and (max-width: $sm-min) {
	.text-huge {
		font-size: 34px !important;
		margin: 0px !important;
	}
 }

.text-white { color: $white !important; }
.text-primary { color: $elprimary !important; }
.text-el-dark { color: $eldark !important; }
.text-el-darkblue { color: $eldarkblue !important; }
.text-el-lightblue { color: $ellightblue !important; }
.text-el-darkgrey { color: $eldarkgrey !important; }
.text-el-lightgrey { color: $ellightgrey !important; }
.text-el-gold { color: $elgold !important; }
.text-el-orange { color: $elorange !important; }


::-webkit-input-placeholder { /* Edge */
  color: $ellightgrey!important;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: $ellightgrey!important;
}

::placeholder {
  color: $ellightgrey!important;
}

sup {
    top: -0.7em;
}
sub, sup {
    font-size: 50%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

