// Colors

$clean_themeblue: #172a53;

// Theme Colors
$elprimary:      #666666 !default;
$eldark:         #444444 !default;
$ellightblue:    #00a3e0 !default;
$eldarkblue:     #007dba !default;
$ellightgrey:    #d9d9d6 !default;
$eldarkgrey:  	 #75787b !default;
$elgold:         #ffa300 !default;
$elorange:       #F68D1F !default;


// Breakpoints (Media Queries)
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

$sxs-max: 320px;
$xs-max:  575px;
$sm-max:  767px;
$md-max:  991px;
$lg-max:  1199px;



// $theme-colors: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $theme-colors: map-merge(
//   (
//     "attprimary":  $attprimary,
//     "attblue":     $attblue,
//     "attgrey":     $attgrey,
//     "attlight":    $attlight,
//     "attdarkblue":    $attdarkblue
//   ),
//   $theme-colors
// );
